@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e8eeff;
    font-family: 'Manrope', sans-serif;
    background: url(../imagens/fundotijolo.jpg);
    background-repeat: repeat;
    background-size: contain;
}

:root{
    font-size: 14pt;
}

::selection{
    background-color: #2c37ad;
    color: #ffffff;
}

header{
    background-color: #06283D;
    margin-left: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 70px;
    color: #fff;
}

#menu-icon{
    position: fixed;
    top: 13px;
    z-index: 3;
    display: none;
    transition: all 0.4s ease;
}

.menu-icon-off{
    left: 10px;
    width: 30px;
}

.menu-icon-on{
    left: 260px;
    width: 34px;
    border-radius: 50%;
    padding: 4px;
    background-color: #3697cf;
    box-shadow: 0 0 1000px 1000px #00000077;
}

#menu-icon:hover{
    cursor: pointer;
}

#instituicao{
    text-align: center;
    font-size: 1.5rem;
    margin: 5px 20px;
}

#logoCedup{
    margin: 5px;
    margin-bottom: 30px;
    width: 64px;
    height: 64px;
}

#barra-lateral{
    background: #06283D;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: all 0.4s ease;
}

#barra-lateral::-webkit-scrollbar{
    display: none;
}

.barra-lateral-off{
    width: 90px;
}

.barra-lateral-on{
    width: 300px;
}

.asideList, .asideList2{
    list-style: none;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 15px;
    transition: all 0.25s;
}

.asideList:hover{
    padding-left: 14px;
    background-color: #1c70ee;
    cursor: pointer;
}

.asideList:hover > .links{
    color: #fff;
}

.asideList:active{
    transition: all 0s;
    background-color: #01578d;
}

.englobaLinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: #fff;
    transition: all 0.4s;
}

.icones-barra{
    width: 30px;
    height: 30px;
}

#barra-pesquisa{
    background-color: #fff;
    color: #21297A;
    border: 0;
    border-radius: 8px;
    width: 100%;
    height: 28px;
    padding: 0 4px 0 8px;
    font-size: 0.8rem;
}

#barra-pesquisa::placeholder{
    color: #21297A;
}

#barra-pesquisa:focus{
    box-shadow: 0;
    outline: 0;
}

#conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px;
    margin-left: 90px;
}

#carouselExampleIndicators, .banner{
    margin-bottom: 40px;
}

.banner, .banner-home{
    width: 100%;
    height: 100%;
    min-height: 150px;
}

.banner-home{
    width: calc(100vw - 144px);
}

footer{
    color: #ffffff;
    background-color: #00446e;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10px;
    margin-left: 90px;
}

#info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px;
    background-color: #3697cf;
    margin-left: 90px;
    margin-top: 40px;
}

#cursostec, #emiep, #escolaInfo{
    margin: 30px;
}

.titulo-info{
    color: #fff;
    text-shadow: 1px 1px 3px #00446e;
    font-size: 1.5rem;
}

.infoList{
    padding: 0;
}

.cursos{
    list-style: none;
    color: #fff;
    background-color: #00446e;
    padding: 6px 13px 8px 10px;
    border-radius: 5px;
    margin: 5px 0;
}

.cursos > a{
    text-decoration: none;
    color: #ffffff;
}

.cursos > a:hover{
    color: #f1e319;
}

.itns-laterais{
    font-size: 1rem;
    margin-left: 8px;
}

.itens-laterais-off{
    display: none;
}

.itens-laterais-on{
    min-width: 160px;
    display: inline;
    font-size: 0.85rem;
}

.docs{
    height: 313px;
}

.docs2{
    height: 600px;
    width: 860px;
}

.docs3{
    height: 600px;
    width: 1070px;
}

.sessao, .sessao2, .sessao3, .sessao4{
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3697cf;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 6px #06283da4;
    margin: 40px;
}

.sessao2{
    width: 1000px;
}

.sessao3{
    width: 600px;
}

.sessao4{
    width: 1150px;
}

.titulo-sessao{
    text-align: center;
    background-color: #06283D;
    width: 100%;
    height: auto;
    padding: 16px;
    border-radius: 10px 10px 0px 0px;
    font-size: 1.4rem;
}

.titulo-sessao2{
    text-align: center;
    font-size: 1.35rem;
    padding: 15px 20px 5px 20px;
}

.titulo-sessao3{
    text-align: center;
    background-color: #1c70ee;
    width: 100%;
    padding: 6px;
    font-size: 1.2rem;
}

.titulo-sessao.no-margin-titulo{
    margin-bottom: 0;
}

.texto-sessao, .texto-sessao2, .texto-sessao3{
    padding: 10px 20px;
    text-align: justify;
    font-size: 1.1rem;
    width: 100%;
}

.texto-sessao2{
    padding: 20px 20px 0px 20px;
    margin: 0;
}

.texto-sessao3{
    text-align: start;
    padding-left: 0;
}

.justify-div{
    width: 100%;
}

.contentlinks, .contentlinks2, .contentlinks3{
    color: #06283D;
    text-decoration: none;
}

.contentlinks2{
    text-align: center;
    padding: 10px 10px 20px 10px;
}

.contentlinks3{
    text-align: center;
    padding: 5px 20px 30px 20px;
}

.contentlinks:hover, .contentlinks2:hover, .contentlinks3:hover{
    color: #f1e319;
    text-decoration: none;
}

.contentimg, iframe{
    width: 600px;
    margin: 50px;
    border: solid 5px #06283D;
    border-radius: 4px;
}

iframe{
    background-color: #fff;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recuperarContas{
    padding: 2px 2px 25px 2px;
    text-align: center;
    margin: 0 4px;
    font-size: 1rem;
}

.localizacao{
    border-color: #00446e;
    width: 300px;
}

.contatos{
    background-color: #06283D;
    width: 400px;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
}

.contato{
    color: #fff;
    font-size: 1.3rem;
    background-color: #00446e;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

.secretaria{
    color: #fff;
    font-size: 1.3rem;
    background-color: #00446e;
    padding: 10px;
    border-radius: 5px;
}

#escolaInfo{
    background-color: #06283D;
    width: 400px;
    border-radius: 10px;
    margin-top: 0;
}

#escola{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.borda-sessao{
    border: 4px solid #1c70ee;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
}

.borda-sessao > p{
    padding-left: 10px;
}

#engloba-details{
    padding: 0 0 14px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    border-radius: 10px;
    background-color: #3697cf;
    box-shadow: 0 0 10px 6px #06283da4;
    color: #fff;
    margin: 40px;
}

.detail{
    width: 88%;
    border-radius: 10px;
    margin: 20px;
    outline: none;
}

.detail[open]{
    background-color: #1c70ee;
}

.detail[open] > .sumario{
    border-radius: 10px 10px 0 0;
}

.sumario{
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #00446e;
    border: 1px solid #06283da4;
}

.details-content > .texto-sessao{
    text-align: justify;
}

#img-app{
    padding: 10px 0 20px 0;
}

.nav2-links{
    text-decoration: none;
    color: #fff;
    margin-left: 25px;
    margin-right: 25px;
    font-weight: 500;
    background-color: #1c70ee;
    padding: 10px;
    border-radius: 50px;
}

.nav2-links:hover{
    color: #f1e319;
}

.engloba-nav2{
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    justify-content: space-between;
}

.content-nav2{
    border: solid 5px #1c70ee;
    background-color: #00446e;
    border-radius: 50px;
}

.quebrar-palavra{
    word-break: break-all;
}


/* RESPONSIVIDADE PARA TELAS MAIORES:  */

@media screen and (min-width: 1750px){
    :root{
        font-size: 18pt;
    }

    header{
        margin-left: 115px;
        min-height: 94px;
    }

    #logoCedup{
        margin: 6px;
        margin-bottom: 35px;
        width: 90px;
        height: 90px;
    }
        
    .barra-lateral-off{
        width: 115px;
    }
    
    .barra-lateral-on{
        width: 390px;
    }

    .icones-barra{
        width: 40px;
        height: 40px;
    }

    #barra-pesquisa{
        border-radius: 10px;
        height: 34px;
        padding: 0 6px 0 10px;
    }

    .itns-laterais{
        margin-left: 11px;
    }

    .asideList, .asideList2{
        margin-bottom: 12px;
        padding: 10px;
        border-radius: 18px;
    }

    .asideList:hover{
        padding-left: 17px;
    }
    
    #conteudo{
        padding: 20px;
        margin-left: 115px;
    }

    .banner-home{
        width: calc(100vw - 180px);
    }

    .sessao, .sessao2, .sessao3, .sessao4{
        width: 1050px;
        border-radius: 12px; 
        box-shadow: 0 0 14px 9px #06283da4;
        margin: 60px;
    }

    .borda-sessao{
        border-radius: 0px 0px 12px 12px;
    }

    .sessao2{
        width: 1300px;
    }

    .sessao3{
        width: 800px;
    }

    .sessao4{
        width: 1400px;
    }
    
    .docs{
        height: 400px;
        width: 750px; 
    }

    .docs2{
        height: 750px;
        width: 1150px;
    }

    .docs3{
        height: 687px;
        width: 1300px;
    }

    .contentimg, iframe{
        border: solid 7px #06283D;
    }

    .titulo-sessao{
        padding: 20px;
        border-radius: 12px 12px 0px 0px;
    }
    
    .texto-sessao, .texto-sessao2, .texto-sessao3{
        padding: 20px 30px;
    }

    .borda-sessao > p{
        padding-left: 30px;
    }

    .contentlinks2{
        padding: 15px 25px 25px 15px;
    }

    .content-nav2{
        border: solid 7px #1c70ee;
        border-radius: 100px;
        padding: 10px;
    }

    .nav2-links{
        margin-left: 30px;
        margin-right: 30px;
        padding: 10px 14px;
    }

    footer{
        padding: 12px 10px 0 10px;
        margin-left: 115px;
    }
    
    #info{
        padding: 20px;
        margin-left: 115px;
    }

    #escolaInfo{
        width: 520px;
    }
    
    .localizacao{
        width: 420px;
        height: 250px;
    }

    .contatos{
        width: 520px;
        border-radius: 12px;
    }

    .contentimg{
        width: 790px;
    }

    .sumario{
        padding: 14px 20px;
    }

    #engloba-details{
        margin: 60px;
    }

    .cursos{
        padding: 10px;
        border-radius: 7px;
        margin: 7px 0;
    }
}

@media screen and (min-width: 2500px){     
    :root{
        font-size: 28pt;
    }

    header{
        margin-left: 170px;
        min-height: 140px;
    }

    #logoCedup{
        margin: 10px;
        margin-bottom: 50px;
        width: 133px;
        height: 133px;
    }
        
    .barra-lateral-off{
        width: 170px;
    }
    
    .barra-lateral-on{
        width: 570px;
    }

    .icones-barra{
        width: 60px;
        height: 60px;
    }

    #barra-pesquisa{
        border-radius: 14px;
        height: 50px;
        padding: 0 8px 0 12px;
    }

    .itns-laterais{
        margin-left: 15px;
        min-width: 245px;
    }

    .asideList, .asideList2{
        margin-bottom: 18px;
        padding: 14px;
        border-radius: 24px;
    }

    .asideList:hover{
        padding-left: 22px;
    }
    
    #conteudo{
        padding: 40px;
        margin-left: 170px;
    }

    .banner-home{
        width: calc(100vw - 270px);
    }

    .sessao, .sessao2, .sessao3, .sessao4{
        width: 1550px;
        border-radius: 22px; 
        box-shadow: 0 0 18px 13px #06283da4;
        margin: 100px;
    }

    .borda-sessao{
        border-radius: 0px 0px 22px 22px;
    }

    .sessao2{
        width: 1940px;
    }

    .sessao3{
        width: 1200px;
    }

    .sessao4{
        width: 2100px;
    }
    
    .docs{
        height: 650px;
        width: 1100px; 
    }

    .docs2{
        height: 1000px;
        width: 1700px;
    }

    .docs3{
        height: 1000px;
        width: 1900px;
    }

    .contentimg, iframe{
        border: solid 10px #06283D;
    }

    .titulo-sessao{
        padding: 30px;
        border-radius: 22px 22px 0px 0px;
    }
    
    .texto-sessao, .texto-sessao2, .texto-sessao3{
        padding: 30px 40px;
    }

    .borda-sessao > p{
        padding-left: 30px;
    }

    .contentlinks2{
        padding: 15px 25px 25px 15px;
    }

    .content-nav2{
        border: solid 10px #1c70ee;
        border-radius: 200px;
        padding: 28px;
    }

    .nav2-links{
        margin-left: 45px;
        margin-right: 45px;
        padding: 14px 18px;
    }

    footer{
        padding: 18px 10px 0 10px;
        margin-left: 170px;
    }
    
    #info{
        padding: 40px;
        margin-left: 170px;
        margin-top: 80px;
    }

    #engloba-details{
        padding: 0 0 35px 0;
        border-radius: 22px;
        box-shadow: 0 0 25px 10px #06283da4;
        margin: 100px;
    }

    #escolaInfo{
        width: 780px;
    }
    
    .localizacao{
        width: 680px;
        height: 400px;
    }

    .contatos{
        width: 780px;
        border-radius: 16px;
    }

    .contentimg{
        width: 1200px;
    }

    .sumario{
        padding: 19px 25px;
    }

    .cursos{
        padding: 15px;
        border-radius: 10px;
        margin: 10px 0;
    }
}



@media screen and (min-width: 3300px){
    :root{
        font-size: 40pt;
    }

    header{
        margin-left: 255px;
        min-height: 210px;
    }

    #logoCedup{
        margin: 15px;
        margin-bottom: 86px;
        width: 200px;
        height: 200px;
    }
        
    .barra-lateral-off{
        width: 255px;
    }
    
    .barra-lateral-on{
        width: 850px;
    }

    .icones-barra{
        width: 85px;
        height: 85px;
    }

    #barra-pesquisa{
        border-radius: 20px;
        height: 75px;
        padding: 0 18px 0 22px;
    }

    .itns-laterais{
        margin-left: 23px;
        min-width: 350px;
    }

    .asideList, .asideList2{
        margin-bottom: 30px;
        padding: 20px;
        border-radius: 32px;
    }

    .asideList:hover{
        padding-left: 32px;
    }
    
    #conteudo{
        padding: 60px;
        margin-left: 255px;
    }

    .banner-home{
        width: calc(100vw - 410px);
    }

    .sessao, .sessao2, .sessao3, .sessao4{ 
        width: 2300px;
        border-radius: 35px; 
        box-shadow: 0 0 24px 18px #06283da4;
        margin: 150px;
    }

    .borda-sessao{
        border-radius: 0px 0px 35px 35px;
    }

    .sessao2{ 
        width: 2910px;
    }

    .sessao3{ 
        width: 1800px;
    }

    .sessao4{ 
        width: 3150px;
    }
    
    .docs{ 
        height: 920px;
        width: 1650px; 
    }

    .docs2{ 
        height: 1600px;
        width: 2545px;
    }

    .docs3{ 
        height: 1500px;
        width: 2850px;
    }

    .contentimg, iframe{ 
        border: solid 15px #06283D;
    }

    .titulo-sessao{ 
        padding: 42px;
        border-radius: 35px 35px 0px 0px;
    }
    
    .texto-sessao, .texto-sessao2, .texto-sessao3{
        padding: 50px 60px;
    }

    .borda-sessao > p{
        padding-left: 45px;
    }

    .contentlinks2{
        padding: 35px 45px 45px 35px;
    }

    .content-nav2{
        border: solid 15px #1c70ee;
        border-radius: 300px;
        padding: 55px;
    }

    .nav2-links{
        margin-left: 65px;
        margin-right: 65px;
        padding: 20px 30px;
        border-radius: 80px;
    }

    footer{
        padding: 25px 10px 0 10px;
        margin-left: 255px;
    }
    
    #info{
        padding: 70px;
        margin-left: 255px;
        margin-top: 140px;
    }

    #engloba-details{
        padding: 0 0 50px 0;
        border-radius: 35px;
        box-shadow: 0 0 40px 14px #06283da4;
        margin: 150px;
    }

    #escolaInfo{
        width: 1200px;
    }
    
    .localizacao{
        width: 1098px;
        height: 680px;
    }

    .contatos{
        width: 1200px;
        border-radius: 10px;
    }

    .contentimg{
        width: 1800px;
    }

    .sumario{
        padding: 30px 38px;
    }

    .cursos{
        padding: 20px;
        border-radius: 14px;
        margin: 14px 0;
    }
}

@media screen and (min-width: 4800px){
    :root{
        font-size: 54pt;
    }

    header{ 
        margin-left: 340px;
        min-height: 280px;
    }

    #logoCedup{ 
        margin: 16px 14px 120px 14px;
        width: 265px;
        height: 265px;
    }
        
    .barra-lateral-off{ 
        width: 340px;
    }
    
    .barra-lateral-on{ 
        width: 1128px;
    }

    .icones-barra{ 
        width: 112px;
        height: 112px;
    }

    #barra-pesquisa{ 
        border-radius: 28px;
        height: 98px;
        padding: 0 22px 0 28px;
    }

    .itns-laterais{ 
        margin-left: 33px;
        min-width: 480px;
    }

    .asideList, .asideList2{ 
        margin-bottom: 35px;
        padding: 28px;
        border-radius: 45px;
    }

    .asideList:hover{ 
        padding-left: 45px;
    }
    
    #conteudo{ 
        padding: 80px;
        margin-left: 340px;
    }

    .banner-home{
        width: calc(100vw - 550px);
    }

    .sessao, .sessao2, .sessao3, .sessao4{ 
        width: 3060px;
        border-radius: 45px; 
        box-shadow: 0 0 32px 25px #06283da4;
        margin: 200px;
    }

    .borda-sessao{
        border-radius: 0px 0px 45px 45px;
    }

    .sessao2{ 
        width: 3880px;
    }

    .sessao3{ 
        width: 2395px;
    }

    .sessao4{ 
        width: 4200px;
    }
    
    .docs{ 
        height: 1200px;
        width: 2200px; 
    }

    .docs2{ 
        height: 2100px;
        width: 3390px;
    }

    .docs3{ 
        height: 2000px;
        width: 3800px;
    }

    .contentimg, iframe{ 
        border: solid 20px #06283D;
    }

    .titulo-sessao{ 
        padding: 60px;
        border-radius: 45px 45px 0px 0px;
    }
    
    .texto-sessao, .texto-sessao2, .texto-sessao3{ 
        padding: 75px 85px;
    }

    .borda-sessao > p{ 
        padding-left: 70px;
    }

    .contentlinks2{ 
        padding: 35px 60px 50px 60px;
    }

    .content-nav2{ 
        border: solid 20px #1c70ee;
        border-radius: 400px;
        padding: 85px;
    }

    .nav2-links{ 
        margin-left: 90px;
        margin-right: 90px;
        padding: 30px 40px;
        border-radius: 120px;
    }

    footer{ 
        padding: 30px 10px 0 10px;
        margin-left: 340px;
    }
    
    #info{ 
        padding: 100px;
        margin-left: 340px;
        margin-top: 200px;
    }

    #engloba-details{ 
        padding: 0 0 60px 0;
        border-radius: 35px;
        box-shadow: 0 0 50px 24px #06283da4;
        margin: 220px;
    }

    #escolaInfo{ 
        width: 1650px;
    }
    
    .localizacao{ 
        width: 1545px;
        height: 940px;
    }

    .contatos{ 
        width: 1650px;
    }

    .contentimg{ 
        width: 2400px;
    }

    .sumario{ 
        padding: 30px 38px;
    }

    .cursos{
        padding: 30px;
        border-radius: 18px;
        margin: 18px 0;
    }
}



/* RESPONSIVIDADE PARA TELAS MENORES:  */

@media screen and (max-width: 1305px){
    .sessao4{
        width: 96%;
        min-width: 220px;
    }

    .docs3{
        width: 90%;
        height: 55vw;
        margin: 30px 30px 50px 30px;
    }
}

@media screen and (max-width: 1200px){
    .sessao2{
        width: 96%;
        min-width: 220px;
    }

    .docs2{
        width: 88%;
        margin: 20px 20px 50px 20px;
        height: 500px;
    }
}

@media screen and (max-width: 1000px){
    .sessao{
        width: 90%;
        min-width: 220px;
    }

    .sessao.content-nav2 .nav2-links{
        margin: 20px 25px;
        padding: 10px;
        width: 90%;
        text-align: center;
    }
    
    .sessao.content-nav2 .engloba-nav2{
        width: 90%;
        flex-direction: column;
        min-width: 200px;
        padding-left: 0;
    }
    
    .sessao.content-nav2{
        width: 80%;
        min-width: 220px;
    }

    .docs{
        width: 80%;
        margin: 20px 20px 50px 20px;
        height: 290px;
    }

    .contentimg{
        width: 80%;
        margin: 20px;
    }
    
}

@media screen and (max-width: 945px){
    #esconder-title{
        display: none;
    }
}

@media screen and (max-width: 760px){
    :root{
        font-size: 13pt;
    }

    header{
        min-height: 62px;
    }

    .icones-barra{
        width: 28px;
        height: 28px;
    }

    #logoCedup{
        margin-bottom: 28px;
        width: 62px;
        height: 62px;
    }

    .nav2-links{
        margin: 20px 25px;
        padding: 10px;
        width: 90%;
        text-align: center;
    }
    
    .engloba-nav2{
        width: 90%;
        flex-direction: column;
        min-width: 200px;
        padding-left: 0;
    }
    
    .content-nav2{
        width: 80%;
        min-width: 220px;
    }

    #conteudo{
        padding: 20px;
    }

    .docs2{
        height: 50vw;
    }

    .contentlinks3{
        padding: 0px 20px 20px 20px;
    }

    .sessao3{
        width: 90%;
    }
}

@media screen and (max-width: 645px){
    #esconder-title-2, #esconder-title-4{
        display: none;
    }

    .contatos{
        width: 300px;
        padding: 25px;
    }
    
    .contato, .secretaria{
        font-size: 1.1rem;
        padding: 10px;
    }

    #escola{
        margin: 0px 0px 30px 0px;
    }

    #escolaInfo{
        width: 370px;
    }

    .localizacao{
        width: 270px;
    }

    .docs{
        height: 50vw;
        margin: 20px 20px 30px 20px;
    }
}

@media screen and (max-width: 550px){
    .barra-lateral-off{
        width: 0;
    }

    .barra-lateral-on{
        width: 250px;
    }

    #menu-icon{
        display: flex;
    }

    .banner-home{
        width: 100%;
    }

    .titulo-sessao{
        background-color: #0c3b58;
        padding: 8px 10px;
        font-size: 1.3rem;
    }

    .titulo-info{
        font-size: 1.4rem;
    }

    .contentimg, iframe{
        border: solid 4px #0c3b58;
    }

    header, #conteudo, #info, footer{
        margin-left: 0;
    }

    header{
        position: fixed;
        z-index: 3;
        width: 100%;
        min-height: 55px;
    }

    #conteudo{
        padding: 95px 0px 8px 0px;
    }

    .banner, .banner-home{
        min-height: 120px;
    }

    :root{
        font-size: 11pt;
    }
    
    #logoCedup{
        margin-bottom: 28px;
        width: 60px;
        height: 60px;
    }

    .asideList:hover{
        padding: 8px;
    }

    #barra-pesquisa{
        height: 24px;
        padding-left: 6px;
    }

    .icones-barra{
        width: 26px;
        height: 26px;
    }

    #engloba-details{
        width: clamp(200px, 95%, 1200px);
    }
}

@media screen and (max-width: 500px){
    #escolaInfo{
        width: 80%;
        padding: 20px;
        display: grid;
        place-items: center;
    }
    
    .localizacao{
        margin: 10px;
        width: 90%;
    }

    .contatos{
        width: 80%;
    }
}

@media screen and (max-width: 480px){
    header{
        min-width: 180px;
    }

    #esconder-title-2{
        display: inline;
    }

    #esconder-title-3{
        display: none;
    }

    .barra-lateral-on{
        width: 218px;
    }

    .itens-laterais-on{
        min-width: 97px;
    }

    #menu-icon{
        top: 15px;
    }

    .menu-icon-off{
        width: 26px;
    }

    .menu-icon-on{
        width: 30px;
        left: 232px;
        padding: 3px;
    }

    .sessao, .sessao2, .sessao3, .sessao4{
        margin: 30px;
    }

    .titulo-sessao{
        padding: 8px;
        font-size: 1.1rem;
    }

    .titulo-sessao2{
        font-size: 1.05rem;
    }

    .titulo-sessao3{
        font-size: 1rem;
    }

    .texto-sessao, .texto-sessao2, .texto-sessao3{
        font-size: 1rem;
    }
}

@media screen and (max-width: 355px){
    .localizacao{
        width: 100%;
    }
    
    .contato, .secretaria{
        padding: 6px;
        font-size: 0.9rem;
    }

    .secretaria{
        margin: 10px;
    }

    .contatos{
        width: 80%;
        padding: 12px;
    }

    .banner, .banner-home{
        min-height: 110px;
    }

}

@media screen and (max-width: 300px){
    .menu-icon-on{
        left: 185px;
    }
    
    .barra-lateral-on{
        width: 176px;
    }

    #barra-pesquisa{
        max-width: 115px;
    }

    .contatos{
        padding: 15px;
    }

    .contato, .secretaria{
        padding: 8px;
        font-size: 0.7rem;
    }

    .banner, .banner-home{
        min-height: 100px;
    }
}

@media screen and (max-width: 280px){
    .contatos{
        padding: 12px 2px;
    }

    .contato, .secretaria{
        margin: 5px;
    }
}

@media screen and (max-width: 225px){
    .contatos{
        display: flex;
        flex-direction: column;
    }

    .contato, .secretaria{
        margin: 5px 8px;
    }
}