<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../bootstrap-5.2.0-dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="icon" href="https://ssl.gstatic.com/atari/images/public/favicon.ico" />
    <script src="../js/script.js" defer></script>
    <script src="../bootstrap-5.2.0-dist/js/bootstrap.js"></script>
    <title>CEDUP - Centro de Educação Profissional</title>
</head>
<body>
    <header>
        <img src="../icones/menu.svg" id="menu-icon" class="menu-icon-off" alt="menu" />
        <h1 id="instituicao"><span id="esconder-title-2">CEDUP</span><span id="esconder-title-4"> - </span><span id="esconder-title-3">Centro de Educação Profissional</span><span id="esconder-title"> Dario Geraldo Salles</span></h1>
    </header>

    <aside id="barra-lateral" class="barra-lateral-off">
        <img src="../icones/logo1.svg" id="logoCedup" alt="Logo" />
        
        <nav id="links-barra">
        
            <ul class="englobaLinks">
                <li class="asideList2 links">
                    <img src="../icones/search-icon.svg" class="icones-barra" alt="ícone" />
                    <input type="search" id="barra-pesquisa" class="itns-laterais itens-laterais-off" placeholder="Pesquisar..." />
                </li>
            
                <li class="asideList">
                    <a href="../index.html" class="links">
                        <img src="../icones/home-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">Home</span>
                    </a>
                </li>
            
                <li class="asideList">
                    <a href="./comunicados.html" class="links">
                        <img src="../icones/comunicados-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">Comunicados</span>
                    </a>
                </li>
            
                <li class="asideList">
                    <a href="./emiep.html" class="links">
                        <img src="../icones/emiep-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">EMIEP</span>
                    </a>
                </li>
            
                <li class="asideList">
                    <a href="./cursostecnicos.html" class="links">
                        <img src="../icones/tecnico-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">Cursos Técnicos</span>
                    </a>
                </li>
            
                <li class="asideList">
                    <a href="./nem.html" class="links">
                        <img src="../icones/nem-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">NEM</span>
                    </a>
                </li>
            
                <li class="asideList">
                    <a href="./extensoes.html" class="links">
                        <img src="../icones/extensoes-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">Extensões</span>
                    </a>
                </li>
            
                <li class="asideList">
                    <a href="./horarios.html" class="links">
                        <img src="../icones/horario-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">Horário de Aulas</span>
                    </a>
                </li>
            
                <li class="asideList">
                    <a href="./novoscaminhos.html" class="links">
                        <img src="../icones/novoscaminhos-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">Novos Caminhos</span>
                    </a>
                </li>
               
                <li class="asideList">
                    <a href="./eventos.html" class="links">
                        <img src="../icones/eventos-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">Eventos</span>
                    </a>
                </li>
               
                <li class="asideList">
                    <a href="./instituicao.html" class="links">
                        <img src="../icones/instituicao-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">Instituição</span>
                    </a>
                </li>

                <li class="asideList">
                    <a href="./professores.html" class="links">
                        <img src="../icones/professor-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">Professores</span>
                    </a>
                </li>

                <li class="asideList">
                    <a href="./alunos.html" class="links">
                        <img src="../icones/aluno-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">Alunos</span>
                    </a>
                </li>
            
            </ul>
                    
        </nav>

    </aside>

    
    <div id="conteudo">

        <section class="sessao content-nav2">
            <div class="engloba-nav2">
                <a class="nav2-links" href="./biblioteca.html">Biblioteca</a>
                <a class="nav2-links" href="./estagios.html">Estágio</a>
                <a class="nav2-links" href="./vagasdeemprego.html">Vagas de Emprego</a>
                <a class="nav2-links" href="./enem.html">Enem</a>
                <a class="nav2-links" href="./cardapio.html">Cardápio</a>
            </div>
        </section>

        <section class="sessao">
            <h2 class="titulo-sessao">ESTÁGIOS</h2>
            <p class="texto-sessao">O estágio tem como objetivo permitir que o estudante entre em contato com o mercado de trabalho, permitindo que este possa colocar em prática os ensinamentos escolares, bem como vivenciar a realidade de uma Instituição, seja pública ou privada, visando à formação pessoal e o crescimento profissional. AS OPORTUNIDADES DE EMPREGO SÃO DIVULGADAS NESTE SITE - MENU ALUNO/VAGAS DE EMPREGO.</p>
        </section>

        <section class="sessao">
            <h2 class="titulo-sessao">FUNDAMENTAÇÃO LEGAL</h2>
            <p class="texto-sessao">a)<strong> Projeto Político Pedagógico do Curso e da Escola;</strong></p>
            <p class="texto-sessao">b)<strong> Resolução CEE Nº 130/03</strong> – Regulamenta a realização de estágios nas Instituições de Ensino Médio, Profissional e Superior no Estado de Santa Catarina;</p>
            <p class="texto-sessao">c)<strong> Resolução CNE/CEB No 01/04</strong> – Estabelece Diretrizes Nacionais para a Organização e a realização de estágio de alunos da Educação Profissional e do Ensino Médio, inclusive nas modalidades de Educação Especial e de Educação de Jovens e Adultos; e ratifica o prazo limite de cinco anos (5) a partir da primeira matrícula ou ingresso pelo aluno na Instituição de Ensino;</p>
            <p class="texto-sessao">d)<strong> Lei Federal Nº 11.788, de 25 de setembro de 2008</strong> – Dispõe sobre estágios de estudantes; Leia Cartilha sobre a Lei de Estágio (arquivo PDF);</p>
            <p class="texto-sessao">e)<strong> Ação Normativa Nº 7, de 30 de outubro de 2008</strong>, que disciplina o estágio no âmbito nacional;</p>
            <p class="texto-sessao">f)<strong> Resolução 167 de 22 de outubro de 2013 do Conselho Estadual de Educação</strong> (substitui a <strong>Resolução No 073</strong> de 7 de dezembro de 2010 do Conselho Estadual de Educação);</p>
            <p class="texto-sessao">g)<strong> Portaria 124 de 21/01/2020</strong> – Regulamenta a prática de Estágio para estudantes da Rede Estadual de Ensino e suas modalidades (disponível em <a class="contentlinks quebrar-palavra" href="https://www.sed.sc.gov.br/pais-alunos-e-comunidade/30484-estagio">http://www.sed.sc.gov.br/pais-alunos-e-comunidade/30484-estagio</a>).</p>
        </section>

        <section class="sessao">
            <h2 class="titulo-sessao">ESTÁGIO NÃO OBRIGATÓRIO</h2>
            <p class="texto-sessao">São estágios que não estão incluídos como base tecnológica nos cursos e possibilitam ao aluno a vivência do ambiente profissional, oportunizando a relação entre teoria e prática, fornecendo assim condições para a ampliação do conhecimento profissional.</p>
        </section>

        <section class="sessao">
            <h2 class="titulo-sessao">ESTÁGIO CURRICULAR OBRIGATÓRIO</h2>
            <p class="texto-sessao">O estágio será realizado e supervisionado em empresas e/ou outras organizações que envolvam seu curso, oportunizando ao aluno condições de aprendizagem e de aplicação, em ambientes reais de trabalho, das competências técnicas e comportamentais construídas no ambiente escolar durante os três semestres letivos, como forma de contribuir significativamente para formação do perfil profissional de conclusão do curso.</p>
            <p class="texto-sessao">Destina-se aos alunos dos cursos técnicos subsequentes do eixo de controle e processos industriais <strong>ELETROTÉCNICA, ELETROMECÂNICA, ELETRÔNICA, MECÂNICA, FABRICAÇÃO MECÂNICA, ELETROELETRÔNICA</strong> e do eixo <strong>SEGURANÇA DO TRABALHO</strong> (mínimo de 400 horas) que deverá ser realizado a partir do último módulo do curso (3º módulo). EMIEP (Ensino Médio Integrado a Educação Profissional – <strong>Técnico em Automação Industrial</strong> (mínimo de 320 horas) deverá ser realizado a partir do 3º ano do ensino médio.</p>
            <p class="texto-sessao">O aluno trabalhador que efetivamente comprovar a sua atividade profissional direcionada ao curso que frequenta, poderá requerer a dispensa do estágio curricular obrigatório até no limite máximo de 50% na Coordenação de Estágio, na forma da lei fundamentado na Resolução nº 167 de 22 de outubro de 2013 do Conselho Estadual de Educação do Estado de Santa Catarina (Lei Estadual) e na CNE/CEB nº01/04 – (Lei Federal). Modelo de declaração disponível neste site no campo <strong>DOCUMENTOS PARA ESTÁGIO</strong>.</p>
        </section>

        <section class="sessao">
            <h2 class="titulo-sessao">PROCEDIMENTOS PARA ESTÁGIO CURRICULAR OBRIGATÓRIO E NÃO OBRIGATÓRIO</h2>
            <p class="texto-sessao">A jornada do educando(a) / estagiário(a) será no máximo de 6 (seis) horas diárias até o limite de 30 (trinta) horas semanais, para os cursos Técnicos subsequentes. No caso do Ensino Médio e suas modalidades, a jornada será de no máximo 4h diárias, perfazendo 20 horas semanais.</p>
            <p class="texto-sessao">O Aluno deverá procurar estágio nas empresas. Também temos disponível em nosso site as vagas de emprego e no mural de vagas da escola. Deverá entrar em contato com a mesma marcando entrevista, ou enviando seu currículo por e-mail, conforme solicita na vaga. Poderá também levar a Carta de Apresentação fornecida pela Coordenação de Estágio do CEDUP. Neste caso o aluno deverá solicitar a carta no setor de estágio com antecedência.</p>
            <p class="texto-sessao">Após a confirmação do estágio a empresa deverá preencher o <strong>Termo de Compromisso e Plano de Estágio</strong> em 3 vias, e após serem assinados e carimbados pela empresa deverão ser encaminhados ao CEDUP para assinatura. <strong>O ALUNO SÓ PODERÁ INICIAR AS ATIVIDADES APÓS A ASSINATURA DOS MESMOS</strong>.</p>
            <p class="texto-sessao">O(a) aluno(a) deverá ler o termo de compromisso e após serem esclarecidas todas as dúvidas assiná-lo. Qualquer alteração no Termo de Compromisso de estágio deve ser imediatamente comunicado através de documentação para as devidas providências, como por exemplo, prorrogação de estágio, encerramento, efetivação, mudanças de horários, entre outras, conforme os modelos apresentados abaixo.</p>
            <p class="texto-sessao">Deverão ser observadas todas as orientações sobre o estágio, descritas na carta de apresentação e termo de compromisso que forem assinados. O(a) ESTAGIÁRIO(a) obriga-se a acatar e cumprir as normas internas da parte concedente e da unidade escolar, principalmente as relativas ao estágio, quanto ao acompanhamento, controle, avaliação de desempenho e aproveitamento, durante o estágio.</p>
            <p class="texto-sessao"><strong>Os alunos admitidos como estagiários(as) não terão qualquer vínculo empregatício com a empresa concedente</strong>.</p>      
        </section>

        <section class="sessao">
            <h2 class="titulo-sessao">DOCUMENTOS PARA ESTÁGIO</h2>
            <ul>
                <li><a class="contentlinks" href="https://docs.google.com/file/d/0B_Nwt4sGiL7XMDZjbDVqQXRGZGM/edit?resourcekey=0-nUH9NVp5zFPF5buf1q3rZw">TERMO DE RESCISÃO DO ESTÁGIO PELA EMPRESA;</a></li>
                <li><a class="contentlinks" href="https://docs.google.com/file/d/0B_Nwt4sGiL7XMjFNcXFDd0kzMlk/edit?resourcekey=0-qI4qpE3kjPxrGcyiRUXYjQ">TERMO DE RESCISÃO DO ESTÁGIO PELO ALUNO;</a></li>
                <li><a class="contentlinks" href="https://docs.google.com/file/d/0B_Nwt4sGiL7XX1J6SEx4My1pT0U/edit?resourcekey=0-YE9i0Qhi7OI8PHCYRwki9Q">TERMO ADITIVO DE PRORROGAÇÃO DE ESTÁGIO;</a></li>
                <li><a class="contentlinks" href="https://drive.google.com/file/d/1sAa-1RvHrKuJCiL0vG9UN0lur0noKCan/view">TERMO ADITIVO PARA DIVERSAS ALTERAÇÕES NO TCE;</a></li>
                <li><a class="contentlinks" href="https://drive.google.com/file/d/1pg8Watngb6s0vK4nj4_CzwuPvzG5vVVS/view">TERMO DE COMPROMISSO DE ESTÁGIO E PLANO DE ESTÁGIO;</a></li>
                <li><a class="contentlinks" href="https://drive.google.com/file/d/1IlVfi7ncflXO4rmea-NX7IcP7zu_67Xi/view">MODELO DE DECLARAÇÃO DE ATIVIDADE PROFISSIONAL (SOMENTE PARA ESTÁGIO OBRIGATÓRIO).</a></li>
            </ul>
        </section>

        <section class="sessao">
            <h2 class="titulo-sessao">RELATÓRIO DE ESTÁGIO – SOMENTE PARA ESTÁGIO CURRICULAR OBRIGATÓRIO</h2>
            <p class="texto-sessao">O aluno deverá apresentar para o seu orientador de estágio, relatório parcial das atividades que vem desenvolvimento durante o estágio para avaliação. O aluno deverá ter no mínimo 2 presenças nas suas orientações com o professor/orientador antes de entregar o relatório final para obtenção da sua aprovação. <strong>Após o término do estágio, tem dois meses para entrega do relatório final.</strong></p>
            <p class="texto-sessao">Na entrega do relatório final para o professor orientador de estágio, deverá ser anexado a Declaração de Estágio e o Relatório de Avaliação do Estagiário preenchidos e assinados pela empresa, juntamente como o documento do registro das orientações do professor orientador de estágio.</p>
            <p class="texto-sessao">O relatório de estágio será avaliado pelo(a) Professor(a) Orientador(a) de Estágio.</p>
            <p class="texto-sessao">O aluno deverá apresentar para o seu orientador de estágio, relatório parcial das atividades que vem desenvolvimento durante o estágio para avaliação. O aluno deverá ter no mínimo 2 presenças nas suas orientações com o professor/orientador antes de entregar o relatório final para obtenção da sua aprovação. Após o término do estágio, tem dois meses para entrega do relatório final.</p>
        </section>

        <section class="sessao">
            <h2 class="titulo-sessao">Documentos para Estágio Curricular Obrigatório</h2>
            <p class="texto-sessao">A apresentação gráfica e a metodologia do relatório deverão estar de acordo com o Modelo de Relatório constantes no link abaixo:</p>
            <ul class="justify-div">
                <li><p class="texto-sessao"><a class="contentlinks" href="https://docs.google.com/document/d/1ugN-hL2jLaZnF-PdtCSPJkMJRbkH-PKmbMTIFcQ_8bE/edit">MODELO RELATÓRIO;</a></p></li>
                <li><p class="texto-sessao"><a class="contentlinks" href="https://drive.google.com/file/d/0B_Nwt4sGiL7XN21leml5QW02MEFsTjN3R0ZkaFV1T2hnNmNF/view?resourcekey=0-31nvdwfbWbAvx-sKJyKI1A">DECLARAÇÃO DE ESTÁGIO;</a></p></li>
                <li><p class="texto-sessao"><a class="contentlinks" href="https://drive.google.com/file/d/0B_Nwt4sGiL7XVWhua1BGUXJQVEdfamhOUUE5UTRfMXpTZWow/view?resourcekey=0-_ttI-h3gxTJlBkMjI791XQ">MODELO DE AVALIAÇÃO DO ESTAGIÁRIO.</a></p></li>
            </ul>
        </section>
    </div>
   

    <section id="info">

        <div id="cursostec">
            <h4 class="titulo-info">Cursos Técnicos</h4>
            <ul class="infoList">
                <li class="cursos"><a href="">Administração</a></li>
                <li class="cursos"><a href="">Contabilidade</a></li>
                <li class="cursos"><a href="">Eletroeletrônica</a></li>
                <li class="cursos"><a href="">Eletromecânica</a></li>
                <li class="cursos"><a href="">Eletrônica</a></li>
                <li class="cursos"><a href="">Eletrotécnica</a></li>
                <li class="cursos"><a href="">Fabricação Mecânica</a></li>
                <li class="cursos"><a href="">Logística</a></li>
                <li class="cursos"><a href="">Marketing</a></li>
                <li class="cursos"><a href="">Mecânica</a></li>
                <li class="cursos"><a href="">Qualidade</a></li>
                <li class="cursos"><a href="">Segurança do Trabalho</a></li>
            </ul>
        </div>

        <div id="emiep">
            <h4 class="titulo-info">EMIEP</h4>
            <ul class="infoList">
                <li class="cursos"><a href="">Administração</a></li>
                <li class="cursos"><a href="">Automação Industrial</a></li>
                <li class="cursos"><a href="">Recursos Humanos</a></li>
                <li class="cursos"><a href="">Marketing</a></li>
                <li class="cursos"><a href="">Contabilidade</a></li>
                <li class="cursos"><a href="">Informática</a></li>
            </ul>
        </div>

        <div id="escola">
            <h4 class="titulo-info">ESCOLA</h4>
            <div id="escolaInfo">
               <iframe class="localizacao" allowfullscreen src="https://maps-api-ssl.google.com/maps?hl=pt-BR&ll=-26.33342,-48.831406&output=embed&q=R.+Monsenhor+Gercino,+2071+-+Itaum,+Joinville+-+SC,+89210-160,+Brasil+(Cedup)&z=16" frameborder="0"></iframe>
            </div>

            <div class="contatos">
                <a class="contentlinks contato" href="./contato.html">Contato</a>
                <a class="contentlinks secretaria" href="./secretaria.html">Secretaria</a>
            </div>
        </div>


        
    </section>

    <footer>
        <p>Cedup 2022 - Todos os direitos reservados.</p>
    </footer>

</body>
</html>