<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../bootstrap-5.2.0-dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="icon" href="https://ssl.gstatic.com/atari/images/public/favicon.ico" />
    <script src="../js/script.js" defer></script>
    <script src="../bootstrap-5.2.0-dist/js/bootstrap.js"></script>
    <title>CEDUP - Centro de Educação Profissional</title>
</head>
<body>
    
    <header>
        <img src="../icones/menu.svg" id="menu-icon" class="menu-icon-off" alt="menu" />
        <h1 id="instituicao"><span id="esconder-title-2">CEDUP</span><span id="esconder-title-4"> - </span><span id="esconder-title-3">Centro de Educação Profissional</span><span id="esconder-title"> Dario Geraldo Salles</span></h1>
    </header>

    <aside id="barra-lateral" class="barra-lateral-off">
        <img src="../icones/logo1.svg" id="logoCedup" alt="Logo" />
        
        <nav id="links-barra">
        
            <ul class="englobaLinks">
                <li class="asideList2 links">
                    <img src="../icones/search-icon.svg" class="icones-barra" alt="ícone" />
                    <input type="search" id="barra-pesquisa" class="itns-laterais itens-laterais-off" placeholder="Pesquisar..." />
                </li>
            
                <li class="asideList">
                    <a href="./index.html" class="links">
                        <img src="../icones/home-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">Home</span>
                    </a>
                </li>
            
                <li class="asideList">
                    <a href="./comunicados.html" class="links">
                        <img src="../icones/comunicados-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">Comunicados</span>
                    </a>
                </li>
            
                <li class="asideList">
                    <a href="./emiep.html" class="links">
                        <img src="../icones/emiep-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">EMIEP</span>
                    </a>
                </li>
            
                <li class="asideList">
                    <a href="./cursostecnicos.html" class="links">
                        <img src="../icones/tecnico-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">Cursos Técnicos</span>
                    </a>
                </li>
            
                <li class="asideList">
                    <a href="./nem.html" class="links">
                        <img src="../icones/nem-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">NEM</span>
                    </a>
                </li>
            
                <li class="asideList">
                    <a href="./extensoes.html" class="links">
                        <img src="../icones/extensoes-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">Extensões</span>
                    </a>
                </li>
            
                <li class="asideList">
                    <a href="./horarios.html" class="links">
                        <img src="../icones/horario-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">Horário de Aulas</span>
                    </a>
                </li>
            
                <li class="asideList">
                    <a href="./novoscaminhos.html" class="links">
                        <img src="../icones/novoscaminhos-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">Novos Caminhos</span>
                    </a>
                </li>
               
                <li class="asideList">
                    <a href="./eventos.html" class="links">
                        <img src="../icones/eventos-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">Eventos</span>
                    </a>
                </li>
               
                <li class="asideList">
                    <a href="./instituicao.html" class="links">
                        <img src="../icones/instituicao-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">Instituição</span>
                    </a>
                </li>

                <li class="asideList">
                    <a href="./professores.html" class="links">
                        <img src="../icones/professor-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">Professores</span>
                    </a>
                </li>

                <li class="asideList">
                    <a href="./alunos.html" class="links">
                        <img src="../icones/aluno-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">Alunos</span>
                    </a>
                </li>
            
            </ul>
                    
        </nav>

    </aside>
    
    <div id="conteudo">

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../imagens/banner-home1.png" class="d-block banner-home" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../imagens/banner-home2.png" class="d-block banner-home" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../imagens/banner-home3.png" class="d-block banner-home" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>

          <section class="sessao">
            <h2 class="titulo-sessao">PASSO A PASSO DE COMO ACESSAR O ESTUDANTE ONLINE</h2>
            <iframe class="docs" allowfullscreen src="https://drive.google.com/file/d/1JAcjoCdAdSZCXyU-6X8s-KTbmKRdJkC6/preview" frameborder="0"></iframe>
          </section>

          <section class="sessao">
            <h2 class="titulo-sessao">Jornal Cedupense Edição 002</h2>
            <iframe class="docs" allowfullscreen src="https://drive.google.com/file/d/1GIIHHkVE874RMo7RejjzAcshvz4Gz_p3/preview" frameborder="0"></iframe>
          </section>

          <section class="sessao">
            <h2 class="titulo-sessao">RESULTADO PRELIMINAR e FINAL EDITAL 1809 - DE CONTATAÇÃO DE PROFESSORES PARA O PROGRAMA NOVOS CAMINHOS - MEDIOTEC</h2>
            <iframe class="docs" allowfullscreen src="https://drive.google.com/file/d/1UqOwTCwIfoc_drHHYMsxShs68C9xJoWK/preview" frameborder="0"></iframe>
            <iframe class="docs" allowfullscreen src="https://drive.google.com/file/d/1D4jASqaHI-bWWBHSr-ogf2DuyyztV3sp/preview" frameborder="0"></iframe>
          </section>

          <section class="sessao">
            <h2 class="titulo-sessao">RESULTADO FINAL DO EDITAL 2361 PARA PROFESSORES</h2>
            <iframe class="docs" allowfullscreen src="https://drive.google.com/file/d/1by3bFo1RkV8wX0XwyZrGowJNznsaX0XC/preview" frameborder="0"></iframe>
          </section>

          <section class="sessao">
            <h2 class="titulo-sessao">RESULTADO PRELIMINAR DO EDITAL 2361 PARA PROFESSORES</h2>
            <iframe class="docs" allowfullscreen src="https://drive.google.com/file/d/14i3Yh8UUFlwV2IpM52HVLqsp1ZDG6AnN/preview" frameborder="0"></iframe>
          </section>

          <section class="sessao">
            <h2 class="titulo-sessao">EDITAL 2361 - PROFESSORES - PROGRAMA NOVOS CAMINHOS</h2>
            <iframe class="docs" allowfullscreen src="https://drive.google.com/file/d/1Dy-6YMTJUNrLXYGT-RG6tME59NoFjV3L/preview" frameborder="0"></iframe>
          </section>

          <section class="sessao">
            <h2 class="titulo-sessao">LEIA TAMBÉM EDITAL PROFESSORES 1746</h2>
            <iframe class="docs" allowfullscreen src="https://drive.google.com/file/d/10uXnx2XSsT7_CAeBMaLdK0aZeiTwuu_p/preview" frameborder="0"></iframe>
          </section>

          <section class="sessao">
            <h2 class="titulo-sessao">RESULTADO DE APROVEITAMENTO DE ESTUDOS (dispensa de disciplinas)</h2>
                <iframe class="docs" allowfullscreen src="https://docs.google.com/document/d/1H3ido6boSjEVXU8i4kadNyMXi-CG1OC5/preview" frameborder="0"></iframe>
          </section>
          
          <section class="sessao">
            <h2 class="titulo-sessao">Jornal Cedupense Edição 001</h2>
                <iframe class="docs" allowfullscreen src="https://drive.google.com/file/d/1ybAYOeX8pSJrAhde9uEe7OiZfryXai9w/preview" frameborder="0"></iframe>
          </section>

          <section class="sessao">
            <h2 class="titulo-sessao">MÊS DE COMBATE À VIOLÊNCIA CONTRA A MULHER - RESULTADO AGOSTO LILÁS</h2>
                <iframe class="docs" allowfullscreen src="https://drive.google.com/file/d/1R5Cjn3a3esznlSovfyjitRPrX2gdyJ4M/preview" frameborder="0"></iframe>
          </section>

          <section class="sessao">
            <h2 class="titulo-sessao">A APP do CEDUP parabeniza os ganhadores do brinde em virtude da contribuição no mês de junho</h2>
                <img class="contentimg"  src="../imagens/sorteio.jpg" alt="ganhadores do sorteio">
                <p class="texto-sessao">O sorteio foi realizado durante o intervalo do período noturno no refeitório. Os alunos sorteados foram:
                    Sebastião dos Santos Junior - 2EE3 & Ricardo Martins dos Santos - 2EM3, em breve será realizado o sorteio referente ao mês de julho.</p>
          </section>

          <section class="sessao">
            <h2 class="titulo-sessao">AGOSTO LILÁS</h2>
            <img class="contentimg" src="../imagens/agostolilas.jpg" alt="Agosto lilás">
          </section>

          <div class="sessao">
            <img class="contentimg"  src="../imagens/ARRAIA CEDUP.jpg" alt="Arraia Cedup">
            <p class="texto-sessao">Link para as fotos<a class="contentlinks" href="https://photos.app.goo.gl/eNJUDVKpisZVahzB7" target="_blank"> aqui!</a></p>
          </div>

          <section class="sessao">
            <h2 class="titulo-sessao">JOGOS ESCOLARES</h2>
            <img class="contentimg" src="../imagens/jogosescolares.jpg" alt="Jogos escolares">
            <p class="texto-sessao">Confira algumas fotos clicando <a class="contentlinks" href="https://drive.google.com/drive/folders/18oNnV8Tlcd52MeIkbj1Lpu_ik-otYp07" target="_blank">aqui!</a></p>
          </section>

          <section class="sessao">
            <h2 class="titulo-sessao">RELAÇÃO DE NOVAS TURMAS PARA O SEGUNDO SEMSTRE 2022 - CEDUP</h2>
            <iframe class="docs" allowfullscreen src="https://drive.google.com/file/d/1SVExzr22EdesLx1kapV0Qz2gAz7p0uKJ/preview" frameborder="0"></iframe>
            <p class="texto-sessao">"Aguarde a publicação do edital em breve"</p>
          </section>

          <section class="sessao">
            <h2 class="titulo-sessao">MANUAL DE USO DA LOUSA DIGITAL - CEDUP</h2>
            <iframe class="docs" allowfullscreen src="https://drive.google.com/file/d/1XC32fsJnTlfovOt-QdKZmIHHMEZu2cc8/preview" frameborder="0"></iframe>
            <p class="texto-sessao">Para baixar o instalador do Tawboard, Atlas e os manuais clique <a class="contentlinks" href="https://drive.google.com/drive/folders/1TfF6VwPwnBeeLbgh-Bc0Lf2Jr8zqMn05" target="_blank">aqui!</a></p>
          </section>

          <section class="sessao">
            <h2 class="titulo-sessao">Alunos que irão receber o Bolsa Estudante do Governo do Estado</h2>
            <iframe class="docs" allowfullscreen src="https://drive.google.com/file/d/1SyMp5WF_ikG3wNT3IMXvxlFnhX7bDruB/preview" frameborder="0"></iframe>
          </section>
    </div>
   

    <section id="info">

        <div id="cursostec">
            <h4 class="titulo-info">Cursos Técnicos</h4>
            <ul class="infoList">
                <li class="cursos"><a href="./tec-administracao.html">Administração</a></li>
                <li class="cursos"><a href="./tec-contabilidade.html">Contabilidade</a></li>
                <li class="cursos"><a href="./tec-eletroeletronica.html">Eletroeletrônica</a></li>
                <li class="cursos"><a href="./tec-eletromecanica.html">Eletromecânica</a></li>
                <li class="cursos"><a href="./tec-eletronica.html">Eletrônica</a></li>
                <li class="cursos"><a href="./tec-eletrotecnica.html">Eletrotécnica</a></li>
                <li class="cursos"><a href="./tec-fab-mecanica.html">Fabricação Mecânica</a></li>
                <li class="cursos"><a href="./tec-logistica.html">Logística</a></li>
                <li class="cursos"><a href="./tec-marketing.html">Marketing</a></li>
                <li class="cursos"><a href="./tec-mecanica.html">Mecânica</a></li>
                <li class="cursos"><a href="./tec-qualidade.html">Qualidade</a></li>
                <li class="cursos"><a href="./tec-seguranca-trabalho.html">Segurança do Trabalho</a></li>
            </ul>
        </div>

        <div id="emiep">
            <h4 class="titulo-info">EMIEP</h4>
            <ul class="infoList">
                <li class="cursos"><a href="./emiep-adm.html">Administração</a></li>
                <li class="cursos"><a href="./emiep-aut.html">Automação Industrial</a></li>
                <li class="cursos"><a href="./emiep-rh.html">Recursos Humanos</a></li>
                <li class="cursos"><a href="./emiep-mkt.html">Marketing</a></li>
                <li class="cursos"><a href="./emiep-cont.html">Contabilidade</a></li>
                <li class="cursos"><a href="./emiep-info.html">Informática</a></li>
            </ul>
        </div>

        <div id="escola">
            <h4 class="titulo-info">ESCOLA</h4>
            <div id="escolaInfo">
               <iframe class="localizacao" allowfullscreen src="https://maps-api-ssl.google.com/maps?hl=pt-BR&ll=-26.33342,-48.831406&output=embed&q=R.+Monsenhor+Gercino,+2071+-+Itaum,+Joinville+-+SC,+89210-160,+Brasil+(Cedup)&z=16" frameborder="0"></iframe>
            </div>

            <div class="contatos">
                <a class="contentlinks contato" href="./contato.html">Contato</a>
                <a class="contentlinks secretaria" href="./secretaria.html">Secretaria</a>
            </div>
        </div>

        
    </section>

    <footer>
        <p>Cedup 2022 - Todos os direitos reservados.</p>
    </footer>

</body>
</html>