<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../bootstrap-5.2.0-dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="icon" href="https://ssl.gstatic.com/atari/images/public/favicon.ico" />
    <script src="../js/script.js" defer></script>
    <script src="../bootstrap-5.2.0-dist/js/bootstrap.js"></script>
    <title>CEDUP - Centro de Educação Profissional</title>
</head>
<body>
    
    <header>
        <img src="../icones/menu.svg" id="menu-icon" class="menu-icon-off" alt="menu" />
        <h1 id="instituicao"><span id="esconder-title-2">CEDUP</span><span id="esconder-title-4"> - </span><span id="esconder-title-3">Centro de Educação Profissional</span><span id="esconder-title"> Dario Geraldo Salles</span></h1>
    </header>

    <aside id="barra-lateral" class="barra-lateral-off">
        <img src="../icones/logo1.svg" id="logoCedup" alt="Logo" />
        
        <nav id="links-barra">
        
            <ul class="englobaLinks">
                <li class="asideList2 links">
                    <img src="../icones/search-icon.svg" class="icones-barra" alt="ícone" />
                    <input type="search" id="barra-pesquisa" class="itns-laterais itens-laterais-off" placeholder="Pesquisar..." />
                </li>
            
                <li class="asideList">
                    <a href="./index.html" class="links">
                        <img src="../icones/home-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">Home</span>
                    </a>
                </li>
            
                <li class="asideList">
                    <a href="./comunicados.html" class="links">
                        <img src="../icones/comunicados-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">Comunicados</span>
                    </a>
                </li>
            
                <li class="asideList">
                    <a href="./emiep.html" class="links">
                        <img src="../icones/emiep-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">EMIEP</span>
                    </a>
                </li>
            
                <li class="asideList">
                    <a href="./cursostecnicos.html" class="links">
                        <img src="../icones/tecnico-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">Cursos Técnicos</span>
                    </a>
                </li>
            
                <li class="asideList">
                    <a href="./nem.html" class="links">
                        <img src="../icones/nem-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">NEM</span>
                    </a>
                </li>
            
                <li class="asideList">
                    <a href="./extensoes.html" class="links">
                        <img src="../icones/extensoes-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">Extensões</span>
                    </a>
                </li>
            
                <li class="asideList">
                    <a href="./horarios.html" class="links">
                        <img src="../icones/horario-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">Horário de Aulas</span>
                    </a>
                </li>
            
                <li class="asideList">
                    <a href="./novoscaminhos.html" class="links">
                        <img src="../icones/novoscaminhos-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">Novos Caminhos</span>
                    </a>
                </li>
               
                <li class="asideList">
                    <a href="./eventos.html" class="links">
                        <img src="../icones/eventos-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">Eventos</span>
                    </a>
                </li>
               
                <li class="asideList">
                    <a href="./instituicao.html" class="links">
                        <img src="../icones/instituicao-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">Instituição</span>
                    </a>
                </li>

                <li class="asideList">
                    <a href="./professores.html" class="links">
                        <img src="../icones/professor-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">Professores</span>
                    </a>
                </li>

                <li class="asideList">
                    <a href="./alunos.html" class="links">
                        <img src="../icones/aluno-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">Alunos</span>
                    </a>
                </li>
            
            </ul>
                    
        </nav>

    </aside>

    
    <div id="conteudo">
        <img class="banner" src="../imagens/banner-instituicao.png" alt="banner novo ensino médio" />

        <section class="sessao3 content-nav2">
            <div class="engloba-nav2">
                <a class="nav2-links" href="./cedup.html">CEDUP</a>
                <a class="nav2-links" href="./app.html">APP</a>
                <a class="nav2-links" href="./ppp.html">PPP</a>
                <a class="nav2-links" href="./cde.html">CDE</a>
                <a class="nav2-links" href="./nem.html">NEM</a>
            </div>
        </section>
        
        <section class="sessao">
            <h2 class="titulo-sessao">Plano de Gestão</h2>
                <iframe class="docs" allowfullscreen src="https://drive.google.com/file/d/1dCPCp1NWi-JbkiRhJ_vitU1NWpax9RVc/preview" frameborder="0"></iframe>
        </section>

        <section class="sessao">
            <h2 class="titulo-sessao no-margin-titulo">O PAPEL DA ESCOLA</h2>
            <div class="borda-sessao">
                <h3 class="titulo-sessao3">Missão</h3>
                <p class="texto-sessao">Formar profissionais comprometidos com a melhoria da qualidade de vida, sustentabilidade e o progresso das organizações.</p>
                
                <br />
                
                <h3 class="titulo-sessao3">Visão</h3>
                <p class="texto-sessao">Ser um centro de excelência em educação profissional e na formação de cidadãos aptos a difundir conceitos tecnológicos, humanos e de empreendedorismo.</p>
            </div>           
        </section>

    </div>
   

    <section id="info">

        <div id="cursostec">
            <h4 class="titulo-info">Cursos Técnicos</h4>
            <ul class="infoList">
                <li class="cursos"><a href="./tec-administracao.html">Administração</a></li>
                <li class="cursos"><a href="./tec-contabilidade.html">Contabilidade</a></li>
                <li class="cursos"><a href="./tec-eletroeletronica.html">Eletroeletrônica</a></li>
                <li class="cursos"><a href="./tec-eletromecanica.html">Eletromecânica</a></li>
                <li class="cursos"><a href="./tec-eletronica.html">Eletrônica</a></li>
                <li class="cursos"><a href="./tec-eletrotecnica.html">Eletrotécnica</a></li>
                <li class="cursos"><a href="./tec-fab-mecanica.html">Fabricação Mecânica</a></li>
                <li class="cursos"><a href="./tec-logistica.html">Logística</a></li>
                <li class="cursos"><a href="./tec-marketing.html">Marketing</a></li>
                <li class="cursos"><a href="./tec-mecanica.html">Mecânica</a></li>
                <li class="cursos"><a href="./tec-qualidade.html">Qualidade</a></li>
                <li class="cursos"><a href="./tec-seguranca-trabalho.html">Segurança do Trabalho</a></li>
            </ul>
        </div>

        <div id="emiep">
            <h4 class="titulo-info">EMIEP</h4>
            <ul class="infoList">
                <li class="cursos"><a href="./emiep-adm.html">Administração</a></li>
                <li class="cursos"><a href="./emiep-aut.html">Automação Industrial</a></li>
                <li class="cursos"><a href="./emiep-rh.html">Recursos Humanos</a></li>
                <li class="cursos"><a href="./emiep-mkt.html">Marketing</a></li>
                <li class="cursos"><a href="./emiep-cont.html">Contabilidade</a></li>
                <li class="cursos"><a href="./emiep-info.html">Informática</a></li>
            </ul>
        </div>

        <div id="escola">
            <h4 class="titulo-info">ESCOLA</h4>
            <div id="escolaInfo">
               <iframe class="localizacao" allowfullscreen src="https://maps-api-ssl.google.com/maps?hl=pt-BR&ll=-26.33342,-48.831406&output=embed&q=R.+Monsenhor+Gercino,+2071+-+Itaum,+Joinville+-+SC,+89210-160,+Brasil+(Cedup)&z=16" frameborder="0"></iframe>
            </div>

            <div class="contatos">
                <a class="contentlinks contato" href="./contato.html">Contato</a>
                <a class="contentlinks secretaria" href="./secretaria.html">Secretaria</a>
            </div>
        </div>


        
    </section>

    <footer>
        <p>Cedup 2022 - Todos os direitos reservados.</p>
    </footer>

</body>
</html>