<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../bootstrap-5.2.0-dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="icon" href="https://ssl.gstatic.com/atari/images/public/favicon.ico" />
    <script src="../js/script.js" defer></script>
    <script src="../js/details-animation.js" defer></script>
    <script src="../bootstrap-5.2.0-dist/js/bootstrap.js"></script>
    <title>CEDUP - Centro de Educação Profissional</title>
</head>
<body>
    
    <header>
        <img src="../icones/menu.svg" id="menu-icon" class="menu-icon-off" alt="menu" />
        <h1 id="instituicao"><span id="esconder-title-2">CEDUP</span><span id="esconder-title-4"> - </span><span id="esconder-title-3">Centro de Educação Profissional</span><span id="esconder-title"> Dario Geraldo Salles</span></h1>
    </header>

    <aside id="barra-lateral" class="barra-lateral-off">
        <img src="../icones/logo1.svg" id="logoCedup" alt="Logo" />
        
        <nav id="links-barra">
        
            <ul class="englobaLinks">
                <li class="asideList2 links">
                    <img src="../icones/search-icon.svg" class="icones-barra" alt="ícone" />
                    <input type="search" id="barra-pesquisa" class="itns-laterais itens-laterais-off" placeholder="Pesquisar..." />
                </li>
            
                <li class="asideList">
                    <a href="../index.html" class="links">
                        <img src="../icones/home-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">Home</span>
                    </a>
                </li>
            
                <li class="asideList">
                    <a href="./comunicados.html" class="links">
                        <img src="../icones/comunicados-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">Comunicados</span>
                    </a>
                </li>
            
                <li class="asideList">
                    <a href="./emiep.html" class="links">
                        <img src="../icones/emiep-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">EMIEP</span>
                    </a>
                </li>
            
                <li class="asideList">
                    <a href="./cursostecnicos.html" class="links">
                        <img src="../icones/tecnico-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">Cursos Técnicos</span>
                    </a>
                </li>
            
                <li class="asideList">
                    <a href="./nem.html" class="links">
                        <img src="../icones/nem-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">NEM</span>
                    </a>
                </li>
            
                <li class="asideList">
                    <a href="./extensoes.html" class="links">
                        <img src="../icones/extensoes-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">Extensões</span>
                    </a>
                </li>
            
                <li class="asideList">
                    <a href="./horarios.html" class="links">
                        <img src="../icones/horario-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">Horário de Aulas</span>
                    </a>
                </li>
            
                <li class="asideList">
                    <a href="./novoscaminhos.html" class="links">
                        <img src="../icones/novoscaminhos-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">Novos Caminhos</span>
                    </a>
                </li>
               
                <li class="asideList">
                    <a href="./eventos.html" class="links">
                        <img src="../icones/eventos-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">Eventos</span>
                    </a>
                </li>
               
                <li class="asideList">
                    <a href="./instituicao.html" class="links">
                        <img src="../icones/instituicao-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">Instituição</span>
                    </a>
                </li>

                <li class="asideList">
                    <a href="./professores.html" class="links">
                        <img src="../icones/professor-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">Professores</span>
                    </a>
                </li>

                <li class="asideList">
                    <a href="./alunos.html" class="links">
                        <img src="../icones/aluno-icon.svg" class="icones-barra" alt="ícone" />
                        <span class="itns-laterais itens-laterais-off">Alunos</span>
                    </a>
                </li>
            
            </ul>
                    
        </nav>

    </aside>

    
    <div id="conteudo">

        <img class="banner" src="../imagens/banner-tecELETROELETRONICA.png" alt="banner técnico em eletroeletrônica" />

        <section id="engloba-details">
            <h2 class="titulo-sessao">INFORMAÇÕES DO CURSO</h2>
            <details class="detail">
                <summary class="sumario">IDENTIFICAÇÃO DO CURSO</summary>
                <div class="details-content">
                    <p class="texto-sessao">Joinville, a maior cidade do estado de Santa Catarina e a terceira maior do Sul do Brasil, com aproximadamente 1380 indústrias é detentora de uma economia diversificada, sobretudo nos setores secundário e terciário da economia. Se junta a este reconhecido cenário, a vinda de novas plantas industriais, incluindo a indústria automotiva que deve atrair mais empresas ligadas à cadeia produtiva do setor econômico tais como: montadoras automotivas, comercialização e equipamentos eletroeletrônicos, retificadores de motores e sistema de transmissão.</p>
                    <p class="texto-sessao">O crescente aquecimento no setor econômico em Santa Catarina e mais precisamente na região de Joinville e outras cidades que compõem o norte do Estado é um dos fatores que indicam a necessidade contínua de formação profissional técnica na área da indústria especificamente em Eletroeletrônica.</p>
                    <p class="texto-sessao">O CEDUP Dario Geraldo Salles tem a preocupação em qualificar os alunos para atuarem neste vasto mercado de trabalho, para atender às necessidades das empresas, melhorando assim sua expansão no mercado em constante crescimento no setor de automação industrial e na área de componentes elétricos e eletrônicos.</p> 
                    <p class="texto-sessao">Oferecer cursos técnicos e profissionalizantes adequados a este mercado é o grande desafio da Instituição que tem por missão: “Formar profissionais comprometidos com a melhoria da qualidade de vida, sustentabilidade e o progresso das organizações”.</p> 
                </div>
            </details>
            <details class="detail">
                <summary class="sumario">CAMPO DE ATUAÇÃO</summary>
                <div class="details-content">
                    <p class="texto-sessao">A atividade profissional do técnico em Eletroeletrônica acontece em empresa e em ampla gama de setores econômicos, desde o comércio de produtos até a instalação e manutenção de equipamentos de toda natureza, tornando-se um profissional capacitado para realizar atividades de eletricista, desenvolver outras atividades que envolvem toda a parte de eletrônica, como placas, montagem e funcionamentos de circuitos eletrônicos, sistema de transmissão, além de conhecer a tecnologia de microcontroladores, poderá também construir seu próprio negócio.
                    </p>
                </div>
            </details>
            <details class="detail">
                <summary class="sumario">JUSTIFICATIVA E OBJETIVOS</summary>
                <div class="details-content">
                    <p class="texto-sessao">O Curso Técnico em Eletroeletrônica tem por objetivo formar profissionais capazes de planejar e executar a instalação e manutenção de equipamentos, fazer instalações eletroeletrônicas industriais, observando normas técnicas e de segurança. Propor o uso eficiente da energia elétrica. Elaborar, desenvolver e executar projetos de instalações elétricas em edificações em baixa tensão.</p>
                </div>
            </details>
            <details class="detail">
                <summary class="sumario">OBLETIVOS ESPECÍFICOS</summary>
                <div class="details-content">
                    <p class="texto-sessao">Observados os princípios norteadores estabelecidos pelas Diretrizes Curriculares Nacionais para a Educação Profissional de nível Técnico, o presente Curso tem por objetivos o desenvolvimento de competências e habilidades que permitam ao aluno desempenhar as suas atribuições, com ética e responsabilidade social.</p>
                    <p class="texto-sessao">- Desenvolver no aluno, habilidades técnicas através da contextualização de conhecimentos voltados para a melhoria de vida do cidadão;</p>
                    <p class="texto-sessao">- Promover a realização pessoal do cidadão mediante o sentimento de segurança da responsabilidade técnica das suas habilidades, usando o desenvolvimento de atitudes, conforme normas;</p>
                    <p class="texto-sessao">- Capacitar o aluno a interceptar e elaborar projetos elétricos prediais e industriais;</p>
                    <p class="texto-sessao">- Desenvolver projetos de média complexidade envolvendo sistemas de microcontroladores;</p>
                    <p class="texto-sessao">- Identificar os diferentes tipos de motores elétricos e transformadores e suas aplicações;</p>
                    <p class="texto-sessao">- Especificar, para os setores de compras e de vendas, os materiais, componentes e equipamentos eletroeletrônicos.</p>
                </div>
            </details>
            <details class="detail">
                <summary class="sumario">REQUISITOS DE ACESSO</summary>
                <div class="details-content">
                    <p class="texto-sessao">Ser egresso do Ensino Médio e ou estar cursando a 3ª série do Ensino Médio;</p>
                </div>
            </details>
            <details class="detail">
                <summary class="sumario">PERFIL PROFISSIONAL DE CONCLUSÃO</summary>
                <div class="details-content">
                    <p class="texto-sessao">Ao término do Curso, o Técnico em Eletroeletrônica deverá ser capaz de:</p>
                    <p class="texto-sessao">- Executar serviços de instalação e manutenção em eletroeletrônica e automação industrial;</p>
                    <p class="texto-sessao">- Identificar necessidades de inovações tecnológicas e propor soluções para a otimização de processos eletroeletrônicos;</p>
                    <p class="texto-sessao">- Oferecer alternativas de soluções de hardware e programação, principalmente para CLP’s e microcontroladores e microprocessadores industriais;</p>
                    <p class="texto-sessao">- Identificar e selecionar os diferentes tipos de motores elétricos e transformadores e suas aplicações;</p>
                    <p class="texto-sessao">- Interpretar, elaborar e desenvolver projetos elétricos prediais e industriais em edificações em baixa tensão.</p>
                </div>
            </details>
            <details class="detail">
                <summary class="sumario">ORGANIZAÇÃO CURRICULAR</summary>
                <div class="details-content">
                    <p class="texto-sessao">O Curso Técnico em Eletroeletrônica, Eixo Tecnológico de Controle e Processos Industriais observa as determinações legais presentes nas Diretrizes Curriculares Nacionais para a Educação Profissional de Nível Técnico, nos referenciais curriculares nacionais da Educação Profissional, no Decreto 5154/2004, no Catálogo Nacional de Cursos Técnicos, bem como nas diretrizes definidas no Projeto Político Pedagógico.</p>
                </div>
            </details>  
        </section>

        <section class="sessao2">
            <h2 class="titulo-sessao">MATRIZ CURRICULAR DO CURSO TÉCNICO EM SEGURANÇA DO TRABALHO</h2>
            <iframe class="docs2" allowfullscreen src="https://docs.google.com/spreadsheets/u/0/d/1naPeevzGZtA1a80gOAnVV_DFgfrlI5imj3XZje802FI/htmlembed/sheet?headers=false&gid=0" frameborder="0"></iframe>
        </section>  

    </div>
   

    <section id="info">

        <div id="cursostec">
            <h4 class="titulo-info">Cursos Técnicos</h4>
            <ul class="infoList">
                <li class="cursos"><a href="./tec-administracao.html">Administração</a></li>
                <li class="cursos"><a href="./tec-contabilidade.html">Contabilidade</a></li>
                <li class="cursos"><a href="./tec-eletroeletronica.html">Eletroeletrônica</a></li>
                <li class="cursos"><a href="./tec-eletromecanica.html">Eletromecânica</a></li>
                <li class="cursos"><a href="./tec-eletronica.html">Eletrônica</a></li>
                <li class="cursos"><a href="./tec-eletrotecnica.html">Eletrotécnica</a></li>
                <li class="cursos"><a href="./tec-fab-mecanica.html">Fabricação Mecânica</a></li>
                <li class="cursos"><a href="./tec-logistica.html">Logística</a></li>
                <li class="cursos"><a href="./tec-marketing.html">Marketing</a></li>
                <li class="cursos"><a href="./tec-mecanica.html">Mecânica</a></li>
                <li class="cursos"><a href="./tec-qualidade.html">Qualidade</a></li>
                <li class="cursos"><a href="./tec-seguranca-trabalho.html">Segurança do Trabalho</a></li>
            </ul>
        </div>

        <div id="emiep">
            <h4 class="titulo-info">EMIEP</h4>
            <ul class="infoList">
                <li class="cursos"><a href="./emiep-adm.html">Administração</a></li>
                <li class="cursos"><a href="./emiep-aut.html">Automação Industrial</a></li>
                <li class="cursos"><a href="./emiep-rh.html">Recursos Humanos</a></li>
                <li class="cursos"><a href="./emiep-mkt.html">Marketing</a></li>
                <li class="cursos"><a href="./emiep-cont.html">Contabilidade</a></li>
                <li class="cursos"><a href="./emiep-info.html">Informática</a></li>
            </ul>
        </div>

        <div id="escola">
            <h4 class="titulo-info">ESCOLA</h4>
            <div id="escolaInfo">
               <iframe class="localizacao" allowfullscreen src="https://maps-api-ssl.google.com/maps?hl=pt-BR&ll=-26.33342,-48.831406&output=embed&q=R.+Monsenhor+Gercino,+2071+-+Itaum,+Joinville+-+SC,+89210-160,+Brasil+(Cedup)&z=16" frameborder="0"></iframe>
            </div>

            <div class="contatos">
                <a class="contentlinks contato" href="./contato.html">Contato</a>
                <a class="contentlinks secretaria" href="./secretaria.html">Secretaria</a>
            </div>
        </div>


        
    </section>

    <footer>
        <p>Cedup 2022 - Todos os direitos reservados.</p>
    </footer>

</body>
</html>